<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{PAGE_TITLE}}">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <title>{{PAGE_TITLE}}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    {{NAVBAR_HTML}}
    <div class="container">
        <section class="content">
            <div class="page-header">
                <h2>{{PAGE_TITLE}}</h2>
            </div>
            {{ERROR_HTML}}
            <div class="page-content">
                {{PAGE_CONTENT}}
            </div>
            <div class="page-footer">
                {{PAGE_FOOTER}}
            </div>
        </section>
    </div>
    <script src="/assets/js/app.js"></script>
    {{PAGE_SCRIPTS}}
</body>
</html>
